/*artrutgers2*/


html,
body {
    height: 100%;
}

body {
    background: #efefef;
    color: hsl(240, 30, 10);
    font: 700 14px/1 Montserrat, sans-serif;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    margin: 3em 0 2em;
    padding: inherit;
    font-size: 100px;
}

.btn {
    background: none;
    border: 2px solid;
    border-bottom-width: 4px;
    font: inherit;
    letter-spacing: inherit;
    margin: 1em;
    padding: 1em 2em;
    text-transform: inherit;
    transition: color 1s;
    
    :hover {
        color: cornflowerblue;
        background: radial-gradient(circle, $red, 0.2em, transparent 0.25em) 0 0 / 1.25em 1.25em, radial-gradient(circle, $color 0.2em, transparent 0.25em) 6.25em 6.25em / 1.25em 1.25em;
        color: adjust-hue($color, 180);
    }

}

.btn-1 {
    $color: #9c89f7;
    color: $color;
}

:hover {
        animation: halftone 1s forwards;
        background: radial-gradient(circle, $red, 0.2em, transparent 0.25em) 0 0 / 1.25em 1.25em, radial-gradient(circle, $color 0.2em, transparent 0.25em) 6.25em 6.25em / 1.25em 1.25em;
        color: adjust-hue($color, 180);
    }


